:root {
  --mc: #008850;
  --sc: #00e085;
  --lc: #f9f9f9;
  --dc: #444444;
  --gc: #dddddd;
}

.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.TopBanner {
  background: var(--mc);
  color: var(--lc);
  overflow: hidden;
  height: 155px;
}

.TopBanner.on {
  height: 0;
  transition: 0.5s;
}

.TopBanner .inner {
  padding: 50px 0;
}

.TopBanner i {
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 30px;
}

.TopBanner h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.TopBanner span {
  font-weight: 300;
  color: var(--sc)
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.Header .hd_wrap {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: var(--lc);
  line-height: 100px;
  transition: 0.5s;
}

.Header.on .hd_wrap {
  background: var(--lc);
  color: var(--dc);
  line-height: 80px;
}


.Header .hd_wrap:hover {
  background: var(--lc);
  color: var(--dc);
}

.Header h1 {
  position: absolute;
  top: 0;
  left: 70px;
  font-size: 0;
}

.Header .hd_wrap h1 a {
  display: inline-block;
  font-size: 0;
  width: 188px;
  height: 22px;
  background: url(../public/assets/images/logo_w.png);
  vertical-align: middle;
}

.Header .hd_wrap:hover h1 a {
  background: url(../public/assets/images/logo.png);
}

.Header.on .hd_wrap h1 a {
  background: url(../public/assets/images/logo.png);
}

.Header .top_service {
  position: absolute;
  top: 0;
  right: 70px;
}

.Gnb>ul {
  display: flex;
  gap: 40px;
}

.Header .top_service {
  display: flex;
  gap: 40px;
}

.Header .top_service .project li {
  display: inline-block;
  font-weight: 300;
  font-size: 15px;
}

.Header .top_service .project li~li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: var(--gc);
  margin: 0 10px;
}

.Header .top_service strong {
  cursor: pointer;
}

.Header .top_service strong:hover {
  color: #008850;
}

.Header .top_service strong.on {
  color: #008850;
}

.Header .top_service .lang {
  position: relative;
  float: left;
  margin: 0 20px 0 0;
}

.Header .top_service .lang .arrow {
  font-size: 7px;
  vertical-align: 0.3em;
}

.Header .top_service .lang.on .arrow {
  transform: rotate(180deg);
}

.Header .top_service .lang .lang_box {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.45;
  border: 2px solid var(--mc);
  background: var(--lc);
  color: #444444;
  padding: 20px 35px;
}

.Header .top_service .lang.on .lang_box {
  display: block;
}

.Header .top_service .top_search {
  position: relative;
}

.Header .top_search .search_box {
  display: none;
  position: absolute;
  top: 80px;
  right: -65px;
  line-height: 1;
  border: 1px solid var(--gc);
  background: var(--lc);
  padding: 30px 50px;
  width: 600px;
  text-align: center;
}

.Header .top_search.on .search_box {
  display: block;
}

.Header .top_search .search_box input[type="text"] {
  font-size: 20px;
  width: 450px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--dc);
}

.Header .top_search .search_box button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
}

.Header .top_search .search_box::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 60px;
  width: 20px;
  height: 20px;
  background: var(--lc);
  border-left: 1px solid var(--gc);
  border-top: 1px solid var(--gc);
  transform: rotate(45deg);
}

.MainVisual {
  position: relative;
  padding: 155px 0 0 0;
  color: var(--lc);
}

.MainVisual figure {
  position: relative;
  height: calc(100vh - 155px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150% auto;
}

.MainVisual figure.on {
  background-size: 100% auto;
  transition: 1s;
}

.MainVisual .itm01 {
  background-image: url(../public/assets/images/main_visual01.jpg);
}

.MainVisual .itm02 {
  background-image: url(../public/assets/images/main_visual02.jpg);
}

.MainVisual .itm03 {
  background-image: url(../public/assets/images/main_visual03.jpg);
}

.MainVisual figure .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainVisual .slick-track,
.MainVisual .slick-slide {
  transition-duration: 5ms;
}

.MainVisual .slideNum {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin: 0 0 0 -600px;
}

.MainVisual .slideTab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  margin: 0 0 0 600px;
}

.MainVisual .slideArrows button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  color: var(--lc);
  font-size: 50px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 1;
}

.MainVisual .slideArrows button:first-child {
  margin: 0 0 0 -700px;
}

.MainVisual .slideArrows button:last-child {
  margin: 0 0 0 700px;
}